body {
    background-color: #f1f1f1;
  }
  .container {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .form-group {
    margin-bottom: 2rem;
  }
  .form-group label {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .input-group {
    position: relative;
  }
  .input-group-text {
    cursor: pointer;
  }
  .error-icon {
    display: none;
    color: red;
    position: absolute;
    top: calc(100% + 5px);
    right: 10px;
  }
  .error-icon.show {
    display: block;
  }
  .modal-header {
    background-color: #007bff;
    color: white;
  }
  .modal-footer {
    justify-content: center;
  }